@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
  --Blue: hsl(246, 80%, 60%);
  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);

  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background: var(--Very-dark-blue);
  font-size: 18px;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, minmax(160px, 1fr));
  grid-template-rows: repeat(2, auto);
  grid-gap: 1rem;
  grid-auto-flow: column;
}

.profile-card {
  grid-area: prof;
  grid-row: span 2;
  grid-column: span 1;
  background: var(--Dark-blue);
  color: #fff;
  border-radius: 15px;
}

.profile-card .header {
  background: var(--Blue);
  padding: 20px 70px 70px 20px;
  border-radius: 15px;
}

.profile-card .profile-pic {
  margin-bottom: 25px;
}

.profile-card .profile-pic img {
  width: 100%;
  max-width: 75px;
  height: auto;
  border-radius: 50%;
  border: 3px solid #fff;
}

.profile-card .header p {
  font-weight: 400;
  font-size: 14px;
  line-height: 2em;
  color: var(--Pale-Blue);
}

.profile-card .header h1 {
  font-weight: 300;
  font-size: 2.3rem;
}

.profile-card .menu {
  padding: 20px 20px 0px 20px;
}

.menu li {
  margin-bottom: 20px;
}

/* .menu li:last-child {
  margin-bottom: 0;
} */

.menu li span {
  color: var(--Desaturated-blue);
  cursor: pointer;
}

.menu li span:hover {
  color: #fff;
}

.card {
  border-radius: 15px 15px 30px 30px;
  position: relative;
  cursor: pointer;
}

.card .card-img {
  text-align: right;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
  height: 40px;
}

.card-img > img {
  width: 100%;
  max-width: 50px;
  height: auto;
  margin-right: 10px;
  position: relative;
  top: -10px;
}

.card .card-body {
  background-color: var(--Dark-blue);
  border-radius: 15px;
  padding: 20px;
}

.card .card-body:hover {
  background-color: var(--Blue);
}

.card .card-header {
  margin-bottom: 30px;
}

.card-header .card-title {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

.card-time {
  color: #fff;
  font-weight: 300;
  font-size: 3em;
  margin-bottom: 10px;
}

.card-desc {
  color: var(--Pale-Blue);
  font-weight: normal;
  font-size: 0.7em;
  padding-left: 10px;
}

#card-work {
  background-color: var(--Light-red-work);
}

#card-play {
  background-color: var(--Soft-blue-play);
}

#card-study {
  background-color: var(--Light-red-study);
}

#card-exercise {
  background-color: var(--Lime-green-exercise);
}

#card-exercise .card-img > img {
  width: 100%;
  max-width: 60px;
  height: auto;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

#card-social {
  background-color: var(--Violet-social);
}

#card-self {
  background-color: var(--Soft-orange-self-care);
}

@media only screen and (max-width: 960px) {
  .container {
    height: auto;
    padding: 10%;
    width: 90%;
  }

  .dashboard {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    grid-row-gap: 1rem;
    grid-auto-flow: row;
  }

  .profile-card {
    grid-area: prof;
    grid-column: span 2;
    grid-row: span 1;
    background: var(--Dark-blue);
    color: #fff;
    border-radius: 15px;
  }

  .profile-card .profile-pic {
    margin-bottom: 0;
  }

  /* .profile-card .profile-pic img {
    width: 100%;
    max-width: 75px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #fff;
  } */

  .profile-card .header {
    background: var(--Blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
  }

  .profile-card .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    height: auto;
    padding: 20px;
    width: 100%;
  }

  .dashboard {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 1rem;
    grid-auto-flow: row;
  }

  .profile-card {
    grid-area: prof;
    grid-column: span 1;
    grid-row: span 1;
    background: var(--Dark-blue);
    color: #fff;
    border-radius: 15px;
  }

  .profile-card .profile-pic {
    margin-bottom: 0;
  }

  .profile-card .header {
    background: var(--Blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
  }

  .profile-card .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .profile-card .header h1 {
    font-weight: 300;
    font-size: 1.7rem;
  }

  .profile-card .header p {
    font-weight: 300;
    font-size: 0.9rem;
  }

  .menu li a {
    font-size: 0.8rem;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper h2 {
    font-size: 1.8rem;
  }

  /* #dp {
    width: 70px;
    margin-right: 5px;
  } */

  .card .card-header {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 365px) {
  .profile-card .header h1 {
    font-weight: 300;
    font-size: 1.4rem;
  }
}
